*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.menu-bar{
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 2%;
  text-decoration: white;
  width: 100%;
  background: linear-gradient(60deg,  #4A148C 24.3%, #4A148C 20%, #4A148C 20%, #4A148C 20%, white 20%);
  text-align: right;
}
.container{
  background: linear-gradient(60deg, #4A148C 28.3%, #4A148C 20%, #4A148C 20%,#4A148C 20%, white 20%);
  height: 102px;
}
.container-1{
  background: linear-gradient(60deg, #4A148C 33.4%, #EF6C00 16%, #4A148C 20%,#4A148C 20%, white 20%);
  height: 158px;
}
.container-2{
  background: linear-gradient(120deg, #4A148C 31.5%,  #EF6C00 20%, #4A148C 20%,#4A148C 20%, white 20%);
 height: 325px;
}

.menu-bar ul
{
display: inline-flex;
list-style: none;
color: #fff;
gap: -10px;
}
.menu-bar ul li{
width: 130px;
left: 100;
margin: 15px;
padding: 55px 0px 0px 0px;
position: relative;
}
.menu-bar ul li a
{
   text-decoration: none;
   color: #4A148C;
}
.active, .menu-bar ul li
{
text-align:center;
padding-bottom: 20px;
  border-radius: 2px;
}
.active, .menu-bar ul li:hover{
  /* background-color:#4A148C; */
}
.menu-bar .fa
{
 margin-right: 8px;
}
.sub-menu-1{
display: none;
}
.menu-bar ul li:hover .sub-menu-1{
display: block;
/* position: absolute; */
left: 0;
top: 100%;
background-color:#4A148C;
}
.sub-menu-1 ul{
display: block;
/* padding-right:10px; */
text-align:center;
width:190px;
/* margin: 10px; */
}

.sub-menu-1 ul li{
  width:165px;
   padding:5px; 
/* padding: 10px; */
}

.sub-menu-1 ul li:hover{
  width:165px;
  background-color:#EF6C00;
/* padding: 10px; */
}
.sub-menu-1{
  margin-left:-20px;
display: none;
}
.menu-bar ul li:hover .sub-menu-1{
display: block;
position: absolute;
left: 0;
top: 100%;
background-color:#784aac;
opacity:0.9;
}
.sub-menu-2{
  margin-left:-35px;
display: none;
width:250px;
}
.menu-bar ul li:hover .sub-menu-2{
display: block;
position: absolute;
left: 0;
top: 100%;
background-color:#4A148C;
}
.sub-menu-2 ul{
display: block;
text-align:center;
width:200px;
}
.sub-menu-2 ul li{
width: 230px;
padding:5px;
/* padding: 10px; */
}
.sub-menu-2 ul li:hover{
  width:230px;
  background-color:#EF6C00;
/* padding: 10px; */
}
.sub-menu-2{
display: none;
}
.menu-bar ul li:hover .sub-menu-2{
display: block;
position: absolute;
left: 0;
top: 100%;
background-color:#784aac;
opacity:0.9;
}
.logo{
  color: #fff;
  text-align: left;
  margin-left: 500px;
  width: 5px;

}
.paragraph{
  font-size: 30px;
  margin-right: 50px;
  margin-left: 900px;
  color: #fff;
}
.paragraph-2{
  font-size: 30px;
  margin-right: 50px;
  margin-left: 900px;
  color: #fff;
}
.paragraph-3{
  font-size: 30px;
  margin-right: 50px;
  margin-left: 980px;
  color: #fff;
}
.login-container{
  max-width: 800px; /* Increase the maximum width */
   /* You can also use a fixed width in pixels if you prefer */
  margin-left: 40px;
  padding: 20px;
  /* border-radius: 5px; */
  font-size: 20px;

}
.login-container-1{
  max-width: 800px; /* Increase the maximum width */
   /* You can also use a fixed width in pixels if you prefer */
  margin-left: 30px;
  padding: 20px;
  /* border-radius: 5px; */
  font-size: 20px;
  color:black;
}
.img-container-1{
  font-size: 14px;
  margin-left: 650px;
  margin-top: -260px;
  color: #fff;
  /* border-radius: 5px */
}
.login-container-3{
  max-width: 800px; /* Increase the maximum width */
   /* You can also use a fixed width in pixels if you prefer */
  margin-left: 30px;
  margin-top: -280px;
  margin-bottom: 0px;
  padding: 20px;
  /* border-radius: 25px; */
  font-size: 20px;
  
  line-height: 10px;
}
.image-container{
  width: 10px;
}
.text{
  font-size: 52px;
  color: #fff;
  text-align: center;
  margin-left: 30px;
}
.form-1{
  margin-bottom: 0px;
  font-size: 25px;
  /* border-radius: 15px; */
  margin-top: 220px;
}
.form-2{
  margin-top: -130px;
}
.menu-bar2{
  margin-right: 8px;
  margin-left: -40px;
}

.styles{
  padding-left:10px;
}

.emstyle{
  padding-left:10px;
}

.mstyle{
  padding-left:10px;
}

.mostyle{
  padding-left:10px;
}

.rows{
  display:flex;
  flex-direction:row;
  width:10px;
  /* flex-shrink:2; */
}
.aboutus{
  width: 150px;
  /* display: block; */
  margin-right:30px;
  margin-top:0px;
  display: flex;
  flex-direction:column;
  height:auto;
  margin-left:-10px;
  text-align:center;
  /* display: block; */
}


.home{
  /* width: 130px; */
  margin-left:10px;
  text-align:center;
}
.techno{
  width:160px;
  position: relative;
  margin-top: 0px;
  display: block;
  margin-right:40px;
}
.styo:hover{
  color:blue;
  transform: scale(1.25);
  }

  .stylesl{
 text-decoration:none;

  }

  .fa-phone{
    width:70px !important;
  }