*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.menu-bar{
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 2%;
  text-decoration: white;
  width: 100%;
  background: linear-gradient(60deg,  #4A148C 25.6%, #4A148C 20%, #4A148C 20%, #4A148C 20%, white 20%);
  text-align: right;
}
.container{
  background: linear-gradient(60deg, #4A148C 33.51%, #4A148C 20%, #4A148C 20%,#4A148C 20%, white 20%);
  height:264px;
}
.container-1{
  background: linear-gradient(60deg, #4A148C 34.66%, #EF6C00 16%, #4A148C 20%,#4A148C 20%, white 20%);
  height: 0px;
}
.container-2{
  background: linear-gradient(120deg, #4A148C 32.8%,  #EF6C00 20%, #4A148C 20%,#4A148C 20%, white 20%);
  height:324px;
}

.menu-bar ul
{
display: inline-flex;
list-style: none;
color: #fff;
gap: -10px;

}
.menu-bar ul li{
width: 130px;
left: 100;
margin: 15px;
padding: 65px 0px 0px 0px;
position: relative;
}
.menu-bar ul li a
{
   text-decoration: none;
   color: #4A148C;
}
.active, .menu-bar ul li
{
text-align:center;
padding-bottom: 20px;
  border-radius: 2px;
}
.active, .menu-bar ul li:hover{
  /* background-color:#4A148C; */
}
.menu-bar .fa
{
 margin-right: 8px;
}
.sub-menu-1{
  margin-left:-15px;
display: none;
}
.menu-bar ul li:hover .sub-menu-1{
display: block;
/* position: absolute; */
left: 0;
top: 100%;
background-color:#4A148C;
}
.sub-menu-1 ul{
display: block;
/* padding-right:10px; */
text-align:center;
width:190px;
/* margin: 10px; */
}

.sub-menu-1 ul li{
  width:150px;
  padding:5px;
/* padding: 10px; */
}

.sub-menu-1 ul li:hover{
  width:165px;
  background-color:#EF6C00;
/* padding: 10px; */
}
.sub-menu-1{
display: none;
}
.menu-bar ul li:hover .sub-menu-1{
display: block;
position: absolute;
left: 0;
top: 100%;
background-color:#784aac;
opacity:0.9;
}
.sub-menu-2{
margin-left:-20px;
display: none;
width:250px;
}
.menu-bar ul li:hover .sub-menu-2{
display: block;
position: absolute;
left: 0;
top: 100%;
background-color:#4A148C;
}
.sub-menu-2 ul{
display: block;
text-align:center;
width:200px;
}
.sub-menu-2 ul li{
width: 230px;
padding:5px;
/* padding: 10px; */
}
.sub-menu-2 ul li:hover{
  width:230px;
  background-color:#EF6C00;
/* padding: 10px; */
}
.sub-menu-2{
display: none;
}
.menu-bar ul li:hover .sub-menu-2{
display: block;
position: absolute;
left: 0;
top: 100%;
background-color:#784aac;
opacity:0.9;
}
.logo{
  color: #fff;
  text-align: left;
  margin-left: 120px;
}
.paragraph{
  font-size: 30px;
  margin-right: 50px;
  margin-left: 900px;
  color: #fff;
}
.paragraph-2{
  font-size: 30px;
  margin-right: 50px;
  color: #fff;
}
.paragraph-3{
  font-size: 30px;
  margin-right: 50px;
  margin-left: 500px;
  color: #fff;
}
.menu-bar2{
  margin-right: 8px;
  margin-left: -40px;
}

/* img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
} */


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.styless{
  width:225px;
  /* margin-top:100px; */
  margin-left:49%;
  background-color:rgba(255, 230, 196, 0.934);
  height:240px;
  margin-top: -90px;
  transition: transform .2s;
}
/* .styless:hover{
  transform: scale(1.02);
} */

.zooms:hover {
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zooms{
  transition: transform .2s; 
}
.styless1{
  width:225px;
  /* margin-top:100px; */
  margin-left:67%;
  background-color:rgba(255, 230, 196, 0.934);
  height:200px;
  margin-top: -240px;
  transition: transform .2s;
}
/* .styless1:hover{
  transform: scale(1.02);
} */
.styless2{
  width:225px;
  /* margin-top:100px; */
  margin-left:57.4%;
  background-color:rgba(255, 230, 196, 0.934);
  height:240px;
  margin-top:-438px;
  margin-bottom: -18.2px;
  transition: transform .2s;
}
/* .styless2:hover{
  transform: scale(1.02);
} */
.aboutus{
  width: 150px;
  /* display: block; */
  margin-right:30px;
  margin-top:0px;
  display: flex;
  flex-direction:column;
  height:auto;
  margin-left:-10px;
  text-align:center;
  /* display: block; */
}
.home{
  /* width: 130px; */
  margin-left:10px;
  text-align:center;
}
.techno{
  width:160px;
  position: relative;
  margin-top: 0px;
  display: block;
  margin-right:40px;
}
.rows{
  display:flex;
  flex-direction:row;
  width:10px;
  /* flex-shrink:2; */
}
.styo:hover{
  color:blue;
  }
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    height:45%;
    position: relative;
    transition: all 5s ease-in-out;
    top: 110px;
    left: 180px;
    background-color:#4A148C;
    opacity: 0.9;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 60%;
    overflow: auto;
  }
  .popup2 {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    height:45%;
    position: relative;
    transition: all 5s ease-in-out;
    top: 110px;
    left: 180px;
    background-color:#4A148C;
    opacity: 0.9;
  }
  
  .popup2 h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup2 .close {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
  }
  .popup2 .close:hover {
    color: #06D85F;
  }
  .popup2 .content {
    max-height: 60%;
    overflow: auto;
  }




  .popup3 {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    height:45%;
    position: relative;
    transition: all 5s ease-in-out;
    top: 110px;
    left: 180px;
    background-color:#4A148C;
    opacity: 0.9;
  }
  
  .popup3 h2 {
    margin-top: 0;
    color: aliceblue;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup3 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
  }
  .popup3 .close:hover {
    color: #06D85F;
    
  }
  .popup3 .content {
    max-height: 60%;
    overflow: auto;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }


   /* css style code */



   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .containergetintouch{
    background: linear-gradient(60deg, #4A148C 29.90%, #4A148C 20%, #4A148C 20%,#4A148C 20%, white 20%);
    height: 202px;
  }
  .container-1get{
    background: linear-gradient(60deg, #4A148C 36.5%, #EF6C00 16%, #4A148C 20%,#4A148C 20%, white 20%);
    height: 178px;
  }
  .container-2get{
    background: linear-gradient(120deg, #4A148C 34.53%,  #EF6C00 20%, #4A148C 20%,#4A148C 20%, white 20%);
   height: 334px;
  }
  
  .logo{
    color: #fff;
    text-align: left;
    margin-left: 500px;
    width: 5px;
  
  }
  .paragraph{
    font-size: 30px;
    margin-right: 50px;
    margin-left: 900px;
    color: #fff;
  }
  .paragraph-2{
    font-size: 30px;
    margin-right: 50px;
    margin-left: 900px;
    color: #fff;
  }
  .paragraph-3{
    font-size: 30px;
    margin-right: 50px;
    margin-left: 980px;
    color: #fff;
  }
  .login-container{
    max-width: 800px; /* Increase the maximum width */
     /* You can also use a fixed width in pixels if you prefer */
    margin-left: 40px;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
  
  }
  .login-container-1{
    max-width: 800px; /* Increase the maximum width */
     /* You can also use a fixed width in pixels if you prefer */
    margin-left: 30px;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    color:black;
  }
  .img-container-1{
    font-size: 14px;
    margin-left: 650px;
    margin-top: -260px;
    color: #fff;
    border-radius: 5px
  }
  .login-container-3{
    max-width: 800px; /* Increase the maximum width */
     /* You can also use a fixed width in pixels if you prefer */
    margin-left: 15px;
    margin-top:60px;
    margin-bottom: 0px;
    padding: 20px;
    border-radius: 25px;
    font-size: 20px;
    
    line-height: 10px;
  }
  .image-container{
    width: 10px;
  }
  .text{
    font-size: 52px;
    color: #fff;
    text-align: center;
    margin-left: 30px;
  }
  .form-1{
    margin-bottom: 80px;
    margin-top: 5px;
    font-size: 25px;
    border-radius: 15px;
    /* margin-top: 300px; */
  }
  .form-2{
    margin-top: -120px;
  }
  .menu-bar2{
    margin-right: 8px;
    margin-left: -40px;
  }
  
  .styles{
    /* padding-left:3px; */
    margin-left: 20px;
    border-radius: 35px; 
    font-size: 25px; 
    line-height: 40px;
    width:300px;
    margin-top: 10px;
  }
  
  /* .emstyle{
    padding-left:10px;
    font-size: 25px;
    width:300px;
    border-radius: 25px; 
    line-height: 40px;
  } */
  
  /* .mstyle{
    padding-left:10px;
    font-size: 30px;
     width:300px;
     border-radius: 20px; 
     line-height: 70px;
  } */
  
  /* .mostyle{
    padding-left:10px;
    font-size: 25px;
    width:300px;
    border-radius: 25px; 
    line-height: 40px;
  } */
  
  .rows{
    display:flex;
    flex-direction:row;
    width:10px;
    
    /* flex-shrink:2; */
  }
  .aboutus{
    width: 150px;
    /* display: block; */
    margin-right:30px;
    margin-top:0px;
    display: flex;
    flex-direction:column;
    height:auto;
    margin-left:-10px;
    text-align:center;
    /* display: block; */
  }
  
  
  .home{
    /* width: 130px; */
    margin-left:10px;
    text-align:center;
  }
  .techno{
    width:160px;
    position: relative;
    margin-top: 0px;
    display: block;
    margin-right:40px;
  }
  .styo:hover{
    color:blue;
    }
  
    .stylesl{
   text-decoration:none;
  
    }
  
    .fa-phone{
      width:70px !important;
    }
    .getmapsty{
      margin-left: 950px;
      width:550px;
      height:300px;
      margin-top: 50px
    }
    .getwesty{
      text-align: center;
      margin-top: -270px;
      margin-left: -80px; 
      font-size: 25px;
      color: aliceblue; 
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }
  .gotosty{
    color:#4A148C; 
    width:330px;
    margin-left: 590px;
    margin-top:35px;
  }
  .gotoptsty{
    text-align: center;
    margin-top:-60px;
    margin-left: -40px; 
    font-size: 35px;
    color: aliceblue; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .nasty{
    color: aliceblue;
    font-size: 23px;
    margin-left: 48px;
    margin-top: -35px;
    margin-bottom: -100px;
  }
  .namesty{
    color: aliceblue;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  .getforsty{
    text-align: center;
    margin-top: -88px;
    margin-left: -30px;
     font-size: 25px;
     color: aliceblue; 
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
  }
  .tecsty{
    text-align: center;
    margin-top: 20px;
    margin-left: -15px; 
    font-size: 25px;
    color: aliceblue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .mobilesty{
    margin-top: -30px;
     color: aliceblue;
  }
  .mobilenumsty{
    font-size: 25px;
    width:300px;
    border-radius: 25px; 
    line-height: 40px;
  }
  .mostyle{
    padding-left:10px;
    font-size: 25px;
    width:300px;
    border-radius: 25px; 
    line-height: 40px;
  }
  .emailsty{
    padding-top: 10px; color: aliceblue;
  }
  .emstyle{
    padding-left:10px;
    font-size: 25px;
    width:300px;
    border-radius: 25px; 
    line-height: 40px;
  }
  .messsty{
    color: aliceblue;
  }
  .mstyle{
    padding-left:10px;
    font-size: 30px;
     width:300px;
     border-radius: 20px; 
     line-height: 70px;
  }
  .substy{
    margin-left: 100px; 
    font-size: 20px; 
    border-radius:50px;
    background-color:#EF6C00;
    width:100px;
    color:white;
    height:40px;
  }
  .numbersty{
    margin-left: 700px;
    color: aliceblue;
    margin-top: -270px;
    font-size: 20px;
  }
  .mailnamesty{
    margin-left: 705px;
    color: aliceblue;
    margin-top: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  .adresssty{
    margin-left: 705px;
    color: aliceblue;
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px; 
    font-family: Arial, Helvetica, sans-serif;
  }
  .platnamesty{
    margin-left: 700px;
    color: aliceblue;
    margin-top: 20px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .phone{
    font-size:23px;
    margin-left:20px;
    margin-top:80px;
    color:black;
   
  } 
  
  .pnvelopesez{
    margin-left:-1520px;
    margin-top:-100px;
    font-size:23px;
  }
  /* .material{
    width:20%;
    margin-left:674px;
    margin-top:35px;
    font-size:28px;
  } */
  .llsty{
    margin-left: 805px;
    margin-top: 150px;
  }
  .facsty{
    margin-left:8px;
    margin-top: 100px;
  }
  .twsty{
    margin-left:12px; 
    width: 40px; 
    height: 40px;
    margin-top: 100px;
  }
  .ggsty{
    margin-left:13px;
    height:40px;
    margin-top: 100px;
  }
   

  
  
  
  
