@import "compass/css3";

.main {
  margin-top: 25px;
}

.nav-tabs {
  border-bottom: none;
  > li {
    > a {
      border: none;
      border-radius: 0;
      background-color: #eee;
      &:hover {
        background-color: #8845a6;
        color: #fff;
      }
    }
    &.active > a {
      border: none;
      background-color: #8845a6;
      color: #fff;
      &:hover, &:focus {
        border: none;
        background-color: #8845a6;
        color: #fff;
      }
    }
  }
}