.boxes {
    width: 400px;
    height: 100px;
    display:inline-block;
    background-size: 200% 200%;
    transition: background-position 1s;
  }
  
  .to-top{
    background-image: linear-gradient(to top, red 50%, black 0);
    background-position: top;
  }
  
  .to-top:hover {
    background-position: bottom;
  }