*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.active{
  color:#4A148C;
}
.menu-bar{
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 2%;
  text-decoration: white;
  width: 100%;
  background: linear-gradient(60deg,   #4A148C 24.35%, #4A148C 20%, #4A148C 20%, #4A148C 20%, white 20%);
  text-align: right;
  /* left:calc(50% - 300px);
top:calc(50% - 150px); */
/* transition:.6s; */
}
.container{
  height:255px;
  background: linear-gradient(60deg, white 32.15%, #4A148C 20%, #4A148C 20%,#4A148C 20%, white 20%);

}
.container-1{
  height:148px;
  background: linear-gradient(60deg, white 31.9%, #EF6C00 16%, #4A148C 20%,#4A148C 20%, white 20%);
  
}
.container-2{
  background: linear-gradient(120deg, white 31.2%,  #4A148C  20%, #4A148C 20%,#4A148C 20%, white 20%);
  height: 335px;
}

.menu-bar ul
{
display: inline-flex;
list-style: none;
color: #fff;
gap:15px;
}
.menu-bar ul li{
width: 128px;
left: -8px;
margin: 15px;
margin-top:-32px;
padding: 65px 0px 0px 0px;
position: relative;
}
.menu-bar ul li a
{
text-decoration: none;
color:#4A148C;
}
.active, .menu-bar ul li
{
text-align:center;
padding-bottom: 20px;
border-radius: 2px;
}
.active, .menu-bar ul li:hover{
  /* background-color:#4A148C; */
}
.menu-bar .fa
{
 margin-right: 8px;
}
.sub-menu-1{
display: none;
z-index:1;
}
/* ? */
.menu-bar ul li:hover .sub-menu-1{
display: block;
/* position: absolute; */
left: 0;
top: 100%;
transition:1.6s;
background-color:#4A148C;
}
.sub-menu-1 ul{
display: block;
/* padding-right:10px; */
text-align:center;
width:190px;
padding-top:10px;
transition:1.6s;

margin-top:30px;
/* margin: 10px; */
-webkit-transition: height 0.3s ease;
transition: height 0.3s ease;
}

.sub-menu-1 ul li{
  width:165px;
   padding:5px; 
   gap:80px;
/* padding: 10px; */
}
.sub-menu-1 ul li:hover{
width:178px;
background-color:#EF6C00;
/* padding: 10px; */
}
.divstyle{
  position:fixed;
  width:100%;
  margin-top:70px;
  /* margin-top:70px; */
  background:rgb(216, 215, 215);
  height:54px;
  z-index: 0;
}
.sub-menu-1{
margin-left:-25px;
display: none;
transition:1.6s;
}
.menu-bar ul li:hover .sub-menu-1{
display: block;
position: absolute;
left: 0;
top: 100%;
transition:1.6s;
background-color:#784aac;
opacity:0.9;
}
.sub-menu-2{
margin-left:-25px;
display: none;
width:250px;
z-index:1;
}
.menu-bar ul li:hover .sub-menu-2{
display: block;
position: absolute;
left: 0;
top: 100%;
background-color:#4A148C;
}
.sub-menu-2 ul{
display: block;
text-align:center;
width:250px;
margin-top:40px;
}
.sub-menu-2 ul li{
width: 280px;
padding:5px;
/* padding: 10px; */
}
.sub-menu-2 ul li:hover{
width:230px;
background-color:#EF6C00;
/* padding: 10px; */
}
.sub-menu-2{
display: none;
}
.menu-bar ul li:hover .sub-menu-2{
display: block;
position: absolute;
left: 0;
top: 100%;
background-color:#784aac;
opacity:0.9;
}

/*  */
  .divstyle{
    position:fixed;
    width:100%;
    margin-top:70px;
    /* margin-top:70px; */
    background:rgb(216, 215, 215);
    height:50px;
    /* z-index: 0; */
  }

 
.logo{
  color: #fff;
  text-align: left;
  margin-left: 109px;
  padding-top:30px; 
  font-size: 25px; 
}
.paragraph{
  font-size:  19.5px;
  margin-right: 50px;
  margin-left: 560px;
  margin-top: -2px;
  color: #fff;
  animation: waviy 1s 2 alternate;
  animation-delay: calc(.1s * var(--i));
  
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
.paragraph-2{
  font-size:  19px;
  margin-right: 50px;
  margin-left: 900px;
  color: #fff;
}
.paragraph-3{
  font-size:  19px;
  margin-right: 50px;
  margin-left: 900px;
  color: #fff;
}
.img-container2{
  text-align: right;
  justify-content: flex-start;
}
.paragraph-21{
  margin-right: 300px;
}
.paragraph-11{
  margin-top: -160px;
  margin-left:105px;
  color: black;
}
.image-container4{
  margin-top: -400px;
}
.menu-bar2{
  margin-right:-20px;
  margin-left: -40px;
}

.containerimg{
  margin-top:-120px;
  margin-left: 50px;
}
.techno{
  width:160px;
  position: relative;
  margin-top: 0px;
  display: block;
  margin-right:40px;
}
.techno:hover{
  /* width: 80px;
  height: 80px; */
  /* margin-right: 20px;
  text-align:center;
  padding:auto; */
    /* background-color:orangered;  
    width: 180px;
    margin-top:20px;
    margin-bottom: -20px;
    padding-left:30px;
   
    text-align: center;
    margin-right: 0px; */
   
}
.ppl{
  margin-top: 230px;
}
.image-container1{
  margin-left: 600px;
 margin-top: 0px;
 width: 100px;
 height: 100px;
}
.placements:hover{
  /* -webkit-transform: translateY(-10px);
  transform: translateY(-10px); */
}
.placements2:hover{
  /* -webkit-transform: translateY(-10px);
  transform: translateY(-10px); */
}
.placements3:hover{
  /* -webkit-transform: translateY(-10px);
  transform: translateY(-10px); */
}

.placements4{
  animation: primary 3s linear infinite;
}
@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

.placements4:hover{
  /* -webkit-transform: translateY(-10px);
  transform: translateY(-10px); */
}
.placement0:hover{
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.zooms:hover {
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* .home{ */
  /* width: 150px;
  /* display: block; */
  /* margin-right:10px;
  display: flex;
  flex-direction:column;
  height:50px;
  text-align:center;
  box-sizing:border-box; */ */
/* } */
/* .active,.home:hover{
  height:auto;
  display:flex;
  flex-direction:column;
 margin-top:20px;
  background-color: orangered;
} */
.aboutus{
  width: 150px;
  /* display: block; */
  margin-right:30px;
  margin-top:10px;
  display: flex;
  flex-direction:column;
  height:auto;
  margin-left:-10px;
  text-align:center;
  font-weight: bold;
  color:#4A148C;
  /* display: block; */
}

.home{
  /* width: 130px; */
  margin-left:10px;
  text-align:center;
  font-weight: bold;
  font-size: 19px;
}
.rows{
  display:flex;
  flex-direction:row;
  width:10px;
  /* flex-shrink:2; */
}
.styo:hover{
  color:blue;
  transform: scale(1.25);
  }

  
  .previous {
    /* background-color: #04AA6D; */
    color: black;
  width: 20px;
  font-size: 30px;
  margin-left: 450px;
  }
  
  .next {
    /* background-color: #04AA6D; */
    /* color: black; */
    margin-left: 990px;
    font-size: 30px;
  }
  
  .round {
    border-radius: 50%;
  } */

.gallery div{
  display: grid;
  grid-template-columns: auto auto auto;
}
.gallery::-webkit-scrollbar{
  display: none;
}
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -172px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 1150px;
  margin-top: 10px;
}
.prev{
  margin-top: 10px;
  border-radius: 3px 0 0 3px;
  margin-left: -25px;
}
.prev:hover{
  background-color: rgba(0,0,0,0.8);
}
.next:hover{
  background-color: rgba(0,0,0,0.8)
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
/* 
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.fades {
  animation-name: fades;
  animation-duration: 1.5s;
}

@keyframes fades {
  from {opacity: .4} 
  to {opacity: 1}
}

.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .back, .forword,.text {font-size: 11px}
}

.hi-slide{
  position: relative;
  width: 754px;
  height: 292px;
  border-radius: 50px;
  margin: 115px auto 0;
}
.hi-slide .hi-next,
.hi-slide .hi-prev{
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  /* color: black; */
  transition: all 0.7s;
  font-size: 20px;
  font-weight: bold;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
  opacity: 1;
  background-color: white;
}
.hi-slide .hi-prev{left: 59px;}
.hi-slide .hi-prev::before{
  content: '<';
}

.hi-slide .hi-next{
  right: -59px;
}

.hi-slide .hi-next::before{
  content: '>';
}

.back {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 960px;
  margin-top: 100px;
  margin-left: -500px;
}
.forword{
  margin-top: 150px;
  border-radius: 3px 0 0 3px;
  margin-left: 1455px;
  margin-bottom: 20px;
}
.back:hover, .forword:hover {
  background-color: rgba(0,0,0,0.8);
}
.forword, .back {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

.info1{
  animation: rotates 1.6s linear; 
}
@keyframes rotates{
  from{transform: translateX(-100px);}
  to{ transform: translateX(0px); }
}

/* .home:hover{
  width: 130px;

  position:fixed; */
  /* height: 50px; */
 /* text-align:center;
 /* padding:auto; */
   /* background-color:orangered; 
}  */

/* get in touch css */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.containergetintouch{
  background: linear-gradient(60deg, white 28%, #4A148C 20%, #4A148C 20%,#4A148C 20%, white 20%);
  height: 232px;
}
.container-1get{
  background: linear-gradient(60deg, #4A148C 34.6%, #EF6C00 16%, #4A148C 20%,#4A148C 20%, white 20%);
  height: 188px;
}
.container-2get{
  background: linear-gradient(120deg, #4A148C 32.8%,  #EF6C00 20%, #4A148C 20%,#4A148C 20%, white 20%);
 height: 344px;
}

.logo{
  color: #fff;
  text-align: left;
  margin-left: 500px;
  width: 5px;

}
.paragraph{
  font-size: 30px;
  margin-right: 50px;
  margin-left: 900px;
  color: #fff;
}
.paragraph-2{
  font-size: 30px;
  margin-right: 50px;
  margin-left: 900px;
  color: #fff;
}
.paragraph-3{
  font-size: 30px;
  margin-right: 50px;
  margin-left: 980px;
  color: #fff;
}
.login-container{
  max-width: 800px; /* Increase the maximum width */
   /* You can also use a fixed width in pixels if you prefer */
  margin-left: 40px;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;

}
.login-container-1{
  max-width: 800px; /* Increase the maximum width */
   /* You can also use a fixed width in pixels if you prefer */
  margin-left: 30px;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  color:black;
}
.img-container-1{
  font-size: 14px;
  margin-left: 650px;
  margin-top: -260px;
  color: #fff;
  border-radius: 5px
}
.login-container-3{
  max-width: 800px; /* Increase the maximum width */
   /* You can also use a fixed width in pixels if you prefer */
  margin-left: 30px;
  margin-top: -60px;
  margin-bottom: 0px;
  padding: 20px;
  border-radius: 25px;
  font-size: 20px;
  
  line-height: 10px;
}
.image-container{
  width: 10px;
}
.text{
  font-size: 52px;
  color: #fff;
  text-align: center;
  margin-left: 30px;
}
.form-1{
  margin-bottom: 250px;
  font-size: 25px;
  border-radius: 15px;
  margin-top:50px;
}
.form-2{
  margin-top: -130px;
}
.menu-bar2{
  margin-right: 8px;
  margin-left: -40px;
}

.styles{
  padding-left:10px;
  /* border-radius: 35px;  */
  font-size: 25px; 
  line-height: 40px;
  width:300px;
  margin-top: -550px;
}

/* .emstyle{
  padding-left:10px;
  font-size: 25px;
  width:300px;
  border-radius: 25px; 
  line-height: 40px;
} */

/* .mstyle{
  padding-left:10px;
  font-size: 30px;
   width:300px;
   border-radius: 20px; 
   line-height: 70px;
} */

/* .mostyle{
  padding-left:10px;
  font-size: 25px;
  width:300px;
  border-radius: 25px; 
  line-height: 40px;
} */

.rows{
  display:flex;
  flex-direction:row;
  width:10px;
  
  /* flex-shrink:2; */
}
.aboutus{
  width: 150px;
  /* display: block; */
  margin-right:30px;
  margin-top:0px;
  display: flex;
  flex-direction:column;
  height:auto;
  margin-left:-10px;
  text-align:center;
  font-weight:bold;
  /* display: block; */
}


.home{
  /* width: 130px; */
  margin-left:10px;
  text-align:center;
}
.techno{
  width:160px;
  position: relative;
  margin-top: 0px;
  display: block;
  margin-right:40px;
}
.styo:hover{
  /* color:blue; */
  }

  .stylesl{
 text-decoration:none;

  }

  .fa-phone{
    width:70px !important;
  }
  .getmapsty{
    margin-left: 950px;
    width:550px;
    margin-top: 170px;
    height:300px;
  }
  .getwesty{
    text-align: center;
    margin-top: -275px;
    margin-left: -80px; 
    font-size: 25px;
    color: aliceblue; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
.gotosty{
  color:#4A148C; 
  width:330px;
  margin-left: 590px;
  margin-top:20px;
}
.gotoptsty{
  text-align: center;
  margin-top:-60px;
  margin-left: -40px; 
  font-size: 35px;
  color: aliceblue; 
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.nasty{
  color: aliceblue;
  font-size: 23px;
  margin-left: 47px;
  margin-top: -95px;
}
.namesty{
  color: aliceblue;
  margin-top: -10px;
 margin-bottom: 10px;
  margin-left: 30px;
}
.getforsty{
  text-align: center;
  margin-top: -200px;
  margin-left: -80px;
   font-size: 25px;
   color: aliceblue; 
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}
.tecsty{
  text-align: center;
  margin-top: 20px;
  margin-left: -40px; 
  font-size: 25px;
  color: aliceblue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.mobilesty{
  margin-top: -30px;
   color: aliceblue;
}
.mobilenumsty{
  font-size: 25px;
  width:300px;
  /* border-radius: 25px;  */
  line-height: 40px;
}
.mostyle{
  padding-left:10px;
  font-size: 25px;
  width:300px;
  /* border-radius: 25px;  */
  line-height: 40px;
}
.emailsty{
  padding-top: 10px; color: aliceblue;
}
.emstyle{
  padding-left:10px;
  font-size: 25px;
  width:300px;
  /* border-radius: 25px;  */
  line-height: 40px;
}
.messsty{
  color: aliceblue;
}
.mstyle{
  padding-left:10px;
  font-size: 30px;
   width:300px;
   /* border-radius: 20px;  */
   line-height: 70px;
}
.substy{
  margin-left: 100px; 
  font-size: 20px; 
  /* border-radius:50px; */
  background-color:white;
  width:100px;
  color:black;
  height:40px;
}
.numbersty{
  margin-left: 700px;
  color: aliceblue;
  margin-top: -270px;
  font-size: 20px;
}
.mailnamesty{
  margin-left: 705px;
  color: aliceblue;
  margin-top: 28px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.adresssty{
  margin-left: 705px;
  color: aliceblue;
  margin-top: 30px;
  font-weight: bold;
  font-size: 25px; 
  font-family: Arial, Helvetica, sans-serif;
}
.platnamesty{
  margin-left: 700px;
  color: aliceblue;
  margin-top: 20px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.phone{
  font-size:23px;
  margin-left:20px;
  margin-top:55px;
  color:black;
 
} 

.pnvelopesez{
  margin-left:20px;
  margin-top:23px;
  font-size:23px;
}
.material{
  width:20%;
  margin-left:674px;
  margin-top:10px;
  font-size:28px;
}
.llsty{
  margin-left: 805px;
  margin-top: 140px;
}
.facsty{
  margin-left:8px;
  margin-top: 100px;
}
.twsty{
  margin-left:12px; 
  width: 40px; 
  height: 40px;
  margin-top: 100px;
}
.ggsty{
  margin-left:13px;
  height:40px;
  margin-top: 100px;
}