* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
/* input[type=text], input[type=password] {
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
 
} */

.pass1{
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
 
}

.pass2{
  width: 20%;
  padding: 15px;
  margin-left:0px;
  /* margin: 5px 30px 22px 0; */
  display: inline-block;
  border: none;
  margin-top:-230px;
  background: #f1f1f1;
 
}

.pass{
  width: 20%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
 
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#cars{
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#birthday{
  width: 40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#w3review{
  width:40%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


.name::after {
  content: ' *';
  color: red;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin-left:70%;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.container { 
  margin: 20px auto; 
} 

.progress-container { 
  text-align: center; 
  margin-bottom: 30px; 
} 

#progressbar { 
  list-style-type: none; 
  display: flex; 
  justify-content: space-between; 
  color: lightgrey; 
} 

#progressbar li { 
  flex: 1; 
  text-align: center; 
  font-size: 15px; 
  font-weight: bold; 
  position: relative; 
} 

#progressbar li.active { 
  color: #2F8D46; 
} 

.progress { 
  height: 20px; 
  background-color: lightgray; 
  border-radius: 5px; 
  overflow: hidden; 
} 

.progress-bar { 
  background-color: #2F8D46; 
  width: 0; 
  height: 100%; 
  transition: width 0.4s ease-in-out; 
} 

.step-container fieldset { 
  background: white; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
  width: 100%; 
  margin: 0; 
  padding-bottom: 20px; 
  position: relative; 
  display: none; 
} 

.step-container fieldset:first-of-type { 
  display: block; 
} 

h2 { 
  color: #2F8D46; 
  margin-top: 10px; 
  text-align: center; 
} 

.next-step, 
.previous-step { 
  width: 100px; 
  font-weight: bold; 
  color: white; 
  border: 0 none; 
  border-radius: 5px; 
  cursor: pointer; 
  padding: 10px 5px; 
  margin: 65px 10px 15px 0px; 
  float: right; 
} 

.mmsty{
  margin-left:-60%;
  margin-top:-900px;
  margin-bottom:100px;
  
}

.mmstys{
  margin-left:0%;
  margin-top:-450px;
  margin-bottom:50px;
  
}

.next-step { 
  background: #2F8D46; 
} 



.previous-step { 
  background: #616161; 
} 

.next-step:hover, 
.next-step:focus { 
  background-color: #1e6f3e; 
} 

.previous-step:hover, 
.previous-step:focus { 
  background-color: #4d4d4d; 
} 

.text { 
  color: #2F8D46; 
  font-weight: normal; 
} 

.finish { 
  text-align: center; 
}