@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@700,400&display=swap');

body, html {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Palanquin Dark', sans-serif;
}

.section {
  padding: 120px 0;
}

.section1 {
  padding: 300px 0;
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #fef6e4;
}

.text {
  width: 47%;
  
  p {
    line-height: 1.8;
  }
}

.image {
  width: 47%;
  
  img {
    width: 100%;
    height: auto;
  }
}
