*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .menu-bar{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 2%;
    text-decoration: white;
    width: 100%;
    /* background: linear-gradient(60deg,   #4A148C 24.33%, #4A148C 20%, #4A148C 20%, #4A148C 20%, white 20%); */
    text-align: right;
  }
  .container{
    /* background: linear-gradient(60deg, #4A148C 28.46%, #4A148C 20%, #4A148C 20%,#4A148C 20%, white 20%); */
    height: 106px;
    background-color:white;
  }
  .container-1{
    
    height: 43vw;
    margin-top: -1.7vw;
    background-color: white;
    background-image:url(pcp3.PNG);
      width: 98.88vw;
      background-repeat: no-repeat;
      background-position: center;
     
      background-size: cover;
  }
  .container-2{
    /* background: linear-gradient(120deg, #4A148C 31.25%,  #4A148C  20%, #4A148C 20%,#4A148C 20%, white 20%); */
    height: 44vw;
    background-image:url(pcp4.PNG);
      width: 98.88vw;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
  .menu-bar ul
  {
  display: inline-flex;
  list-style: none;
  color: #fff;
  gap: -10px;
  
  }
  .divstyle{
    position:fixed;
    width:100%;
    margin-top:70px;
    /* margin-top:70px; */
    background:rgb(216, 215, 215);
    height:54px;
    z-index: 0;
    display: flex;
  }
  .menu-bar ul li{
  width: 152px;
  left: 100;
  margin: 15px;
  margin-top:-32px;
  padding: 65px 0px 0px 0px;
  position: relative;
  }
  .menu-bar ul li a
  {
     text-decoration: none;
     color: #4A148C;
  }
  .active, .menu-bar ul li
  {
  text-align:center;
  padding-bottom: 20px;
    border-radius: 2px;
  }
  .active, .menu-bar ul li:hover{
    /* background-color:#4A148C; */
  }
  .menu-bar .fa
  {
   margin-right: 8px;
  }
  .sub-menu-1{
    margin-left:-102px;
  display: none;
  z-index: 1;
  }
  .menu-bar ul li:hover .sub-menu-1{
  display: block;
  /* position: absolute; */
  left: 0;
  top: 100%;
  background-color:indigo;
  }
  .sub-menu-1 ul{
    display: block;
    /* padding-right:10px; */
    text-align:center;
    width:200px;
    margin-top:5px;
    margin-left: 10px;
    height: 65px;
    /* margin: 10px; */
    }
    
    .sub-menu-1 ul li{
      width:165px;
       padding:6px; 
    /* padding: 10px; */
    gap:40px;
    }
    
    .sub-menu-1 ul li:hover{
      width:170px;
      background-color:#EF6C00;
    /* padding: 10px; */
    }
  .sub-menu-1{
  display: none;
  }
  .menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color:#784aac;
  opacity:0.9;
  }



  .sub-menu-2{
    margin-left:-75px;
  
  width:250px;
  height: 0px;
  z-index:1;
  }
  .menu-bar ul li:hover .sub-menu-2{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color:#4A148C;
  height: 1px;
  
  }
  .sub-menu-2 ul{
  display: block;
  text-align:center;
  width:200px;
  z-index: 10px;
  margin-top:40px;
  height: 0px;
  margin-left: 2px;
  }
  .sub-menu-2 ul li{
  width: 200px;
  padding:5px;
 gap: 10px
 ;
  /* padding: 10px; */
  }
  .sub-menu-2 ul li:hover{
    width:200px;
    background-color:#EF6C00;
  /* padding: 10px; */
  }
  .sub-menu-2{
  display: none;
  height: 20px;
  }
  .menu-bar ul li:hover .sub-menu-2{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 230px;
  /* height: 1px; */
  background-color:#784aac;
  opacity:0.9;
  }
  



  
  
  /* .sub-menu-2 ul.menus li {
    display: block;
    width: 100%;
    font: 12px Arial;
    text-transform: none;
  }
  
  .sub-menu-2 li:hover ul.menus {
    display: block
  }
  
  .menu a.home {
    background: #c00;
  }
  
  .sub-menu-2 a.prett::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 6px 5px;
    border-style: solid;
    border-color: #eee transparent transparent transparent;
    position: absolute;
    top: 15px;
    right: -15px
  }
  
  .sub-menu-2 a.prett.open::after {
    content: "";
    width: 0;
    height: 0;
    border-width: 6px 5px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    top: 9px;
    margin-left: 20px;
  }  */
  
  /* .sub-menu-2 ul.menus a:hover {
    background: #333;
  } */
  
  /* .sub-menu-2 ul.menus .submenu {
    display: none;
    position: absolute;
    left: 180px;
    background: #111;
    top: 0;
    width: 180px;
  }
  
  .sub-menu-2 ul.menus .submenu li {
    background: #111;
  } */
  
  /* .menu ul.menus .has-submenu a.open ~ .submenu {
    display: block;
  } */
  /* .submenu ul{
    margin-left: 300px;
    height: 200px;
    margin-top: 40px;
    width: 50px;
  }
  
  .menus{
    margin-left: 100px;
  }
  .sub-menu-2 ul li:hover .submenu{
    background-color:#784aac;
  opacity:0.9;
  
  }
  
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
   */
  
  
  
  
  
  
  
  
  .logo{
    color: #fff;
    margin-left: 180px;
  }
  .paragraph{
    font-size: 25.5px;
    margin-right: 50px;
   
    color: #fff;
    /* transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1); */
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  .paragraph-2{
    font-size: 14px;
   margin-top: -180px;
   width:360px;
    margin-left:720px;
    color: black;
    z-index: 1;
    /* transform: scale(1.1);  */
  }
  .paragraph-3{
    font-size: 14px;
    margin-top: -210px;
    margin-left: 715px;
    color: black;
    /* transform: scale(1.1);  */
  }
  .paragraph-4{
    font-size: 12px;
    margin-top: -185px;
    margin-left: 1132px;
    /* transform: scale(1.1);  */
  }
  .img-container2{
    text-align: right;
    justify-content: flex-start;
  }
  .menu-bar2{
    margin-right: 8px;
    margin-left: -40px;
  }
  .enrol1{
    /* width:250px; */
  }
  /* .enrol1:hover{
    
    /* -webkit-transform: translateY(-10px); */
    /* transform: translateY(-10px);
  }
  .enrol2:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  .enrol3:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  } */ */
  .aboutus{
    width: 150px;
    /* display: block; */
    margin-right:30px;
    margin-top:0px;
    display: flex;
    flex-direction:column;
    height:auto;
    margin-left:-10px;
    text-align:center;
    /* display: block; */
  }
  .home{
    /* width: 130px; */
    margin-left:10px;
    text-align:center;
  }
  .techno{
    width:160px;
    position: relative;
    margin-top: 0px;
    display: block;
    margin-right:40px;
  }
  .rows{
    display:flex;
    flex-direction:row;
    width:10px;
    /* flex-shrink:2; */
  }
  .styo:hover{
    color:blue;
    transform: scale(1.25);
    }
    .stylep:hover{
      color:#4A148C;
    }
  
    .paragraph-4:hover{
      color:black;
    }
    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
    }
    .overlay:target {
      visibility: visible;
      opacity: 1;
    }
    .popup {
      margin: 70px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 60%;
      height:75%;
      position: relative;
      transition: all 5s ease-in-out;
    }
    
    .popup h2 {
      margin-top: 0;
      color: #333;
      font-family: Tahoma, Arial, sans-serif;
    }
    .popup .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }
    .popup .close:hover {
      color: #06D85F;
    }
    .popup .content {
      max-height: 60%;
      overflow: auto;
    }
    @-webkit-keyframes fadeInss {
      from {opacity: 0;} 
      to {opacity: 1;}
      }
      
      @keyframes fadeInss {
      from {opacity: 0;}
      to {opacity:1 ;}
      }
      
      .info1{
        animation: rotates 1.6s linear; 
      }
      @keyframes rotates{
        from{transform: translateX(-100px);}
        to{ transform: translateX(0px); }
      }
  
  
      .zooms:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        /* z-index: 5; */
      }
      
      .zooms{
        transition: transform 0.2s; 
        z-index: 5;
    
      }  
  .map{
    width: 1000px;
  }
  
      
  /* get in touch css */
  
  /* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .containergetintouch{
    background: linear-gradient(60deg, #4A148C 28.1%, #4A148C 20%, #4A148C 20%,#4A148C 20%, white 20%);
    height: 202px;
  }
  .container-1get{
    background: linear-gradient(60deg, #4A148C 34.65%, #EF6C00 16%, #4A148C 20%,#4A148C 20%, white 20%);
    height: 176px;
  }
  .container-2get{
    background: linear-gradient(120deg, #4A148C 32.8%,  #EF6C00 20%, #4A148C 20%,#4A148C 20%, white 20%);
   height: 336px;
  } */
  .containergetintouch{
    margin-top: 190px;
  }
  
  .logo{
    color: #fff;
    text-align: left;
    margin-left: 500px;
    width: 5px;
  
  }
  .paragraph{
    font-size: 30px;
    margin-right: 50px;
    margin-left: 900px;
    color: #fff;
  }
  .paragraph-2{
    font-size: 30px;
    margin-right: 50px;
    margin-left: 550px;
    color:black;
  }
  .paragraph-3{
    font-size: 30px;
    margin-right: 50px;
    margin-left: 580px;
    color: black;
  }
  .login-container{
    max-width: 800px; /* Increase the maximum width */
     /* You can also use a fixed width in pixels if you prefer */
    margin-left: 40px;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
  
  }
  .login-container-1{
    max-width: 800px; /* Increase the maximum width */
     /* You can also use a fixed width in pixels if you prefer */
    margin-left: 30px;
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
    color:black;
  }
  .img-container-1{
    font-size: 14px;
    margin-left: 650px;
    margin-top: -260px;
    color: #fff;
    border-radius: 5px
  }
  .login-container-3{
    max-width: 800px; /* Increase the maximum width */
     /* You can also use a fixed width in pixels if you prefer */
    margin-left: 30px;
    margin-top: -60px;
    margin-bottom: 0px;
    padding: 20px;
    border-radius: 25px;
    font-size: 20px;
    
    line-height: 10px;
  }
  .image-container{
    width: 10px;
  }
  .text{
    font-size: 52px;
    color: #fff;
    text-align: center;
    margin-left: 30px;
  }
  .form-1{
    margin-bottom: 250px;
    font-size: 25px;
    border-radius: 15px;
    margin-top:50px;
  }
  .form-2{
    margin-top: -130px;
  }
  .menu-bar2{
    margin-right: 8px;
    margin-left: -40px;
  }
  
  .styles{
    padding-left:10px;
    /* border-radius: 35px;  */
    font-size: 25px; 
    line-height: 40px;
    width:300px;
    margin-top: -550px;
  }
  
  /* .emstyle{
    padding-left:10px;
    font-size: 25px;
    width:300px;
    border-radius: 25px; 
    line-height: 40px;
  } */
  
  /* .mstyle{
    padding-left:10px;
    font-size: 30px;
     width:300px;
     border-radius: 20px; 
     line-height: 70px;
  } */
  
  /* .mostyle{
    padding-left:10px;
    font-size: 25px;
    width:300px;
    border-radius: 25px; 
    line-height: 40px;
  } */
  
  .rows{
    display:flex;
    flex-direction:row;
    width:10px;
    
    /* flex-shrink:2; */
  }
  .aboutus{
    width: 150px;
    /* display: block; */
    margin-right:30px;
    margin-top:0px;
    display: flex;
    flex-direction:column;
    height:auto;
    margin-left:-10px;
    text-align:center;
    /* display: block; */
  }
  
  
  .home{
    /* width: 130px; */
    margin-left:10px;
    text-align:center;
  }
  .techno{
    width:160px;
    position: relative;
    margin-top: 0px;
    display: block;
    margin-right:40px;
  }
  .styo:hover{
    color:blue;
    }
  
    .stylesl{
   text-decoration:none;
  
    }
  
    .fa-phone{
      width:70px !important;
    }
    .getmapsty{
      margin-left: 950px;
      width:550px;
      margin-top: 50px;
      height:300px;
    }
    .getwesty{
      text-align: center;
      margin-top: -275px;
      margin-left: -80px; 
      font-size: 25px;
      color: aliceblue; 
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }
  .gotosty{
    color:#4A148C; 
    width:330px;
    margin-left: 590px;
    margin-top:20px;
  }
  .gotoptsty{
    text-align: center;
    margin-top:-60px;
    margin-left: -40px; 
    font-size: 35px;
    color: aliceblue; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .nasty{
    color: aliceblue;
    font-size: 23px;
    margin-left: 47px;
    margin-top: -15px;
  }
  .namesty{
    color: aliceblue;
    margin-top: -10px;
   margin-bottom: 10px;
    margin-left: 30px;
  }
  .getforsty{
    text-align: center;
    margin-top: -280px;
    margin-left: -80px;
     font-size: 25px;
     color: aliceblue; 
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
  }
  .tecsty{
    text-align: center;
    margin-top: 20px;
    margin-left: -40px; 
    font-size: 25px;
    color: aliceblue;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .mobilesty{
    margin-top: -30px;
     color: aliceblue;
  }
  .mobilenumsty{
    font-size: 25px;
    width:300px;
    /* border-radius: 25px;  */
    line-height: 40px;
  }
  .mostyle{
    padding-left:10px;
    font-size: 25px;
    width:300px;
    /* border-radius: 25px;  */
    line-height: 40px;
  }
  .emailsty{
    padding-top: 10px; color: aliceblue;
  }
  .emstyle{
    padding-left:10px;
    font-size: 25px;
    width:300px;
    /* border-radius: 25px;  */
    line-height: 40px;
  }
  .messsty{
    color: aliceblue;
  }
  .mstyle{
    padding-left:10px;
    font-size: 30px;
     width:300px;
     /* border-radius: 20px;  */
     line-height: 70px;
  }
  .substy{
    margin-left: 100px; 
    font-size: 20px; 
    /* border-radius:50px; */
    background-color:white;
    width:100px;
    color:black;
    height:40px;
  }
  .numbersty{
    margin-left: 700px;
    color: aliceblue;
    margin-top: -270px;
    font-size: 20px;
  }
  .mailnamesty{
    margin-left: 705px;
    color: aliceblue;
    margin-top: 28px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  .adresssty{
    margin-left: 705px;
    color: aliceblue;
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px; 
    font-family: Arial, Helvetica, sans-serif;
  }
  .platnamesty{
    margin-left: 700px;
    color: aliceblue;
    margin-top: 20px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .phone{
    font-size:23px;
    margin-left:20px;
    margin-top:52px;
    color:black;
   
  } 
  
  .pnvelopesez{
    margin-left:-1220px;
    margin-top:30px;
    font-size:23px;
  }
  .material{
    width:20%;
    margin-left:674px;
    margin-top:10px;
    font-size:28px;
  }
  .llsty{
    margin-left: 805px;
    margin-top: 120px;
  }
  .facsty{
    margin-left:8px;
    margin-top: 100px;
  }
  .twsty{
    margin-left:12px; 
    width: 40px; 
    height: 40px;
    margin-top: 100px;
  }
  .ggsty{
    margin-left:13px;
    height:40px;
    margin-top: 100px;
  }
  
  
  .popupmain {
    margin: 70px auto;
    margin-top:120px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 90%;
    height:80%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popupmain h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popupmain .close {
    position: absolute;
    top:0px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popupmain .close:hover {
    color: #06D85F;
  }
  .popupmain .content {
    max-height: 200%;
    overflow: auto;
  }
  
  
  
  
  
  
  
  /* get in touch new page code3 */
    
  
  .containergetintouch{
    margin-top: 160px;
  }
  
  #pune:hover{
    color:green;
  }
  
  #hy:hover{
    color:green;
  }
  
  #che:hover{
    color:green;
  }
  
  #tel:hover{
    color:green;
  }
  
  
  
  .boxes {
    width:390px;
    height: 190px;
    margin-top:-40px;
    margin-left:-40px;
    /* display:inline-block; */
    background-size: 200% 200%;
    transition: background-position 1s;
  }
  
  .to-top{
    background-image: linear-gradient(to top, #847a91 50%,#b8aac9 0);
    background-position: top;
  }
  
  .to-top:hover {
    background-position: bottom;
  }
  
  .boxes1 {
    width:390px;
    height: 190px;
    margin-left:30%;
    margin-top:-190px;
    /* display:inline-block; */
    background-size: 200% 200%;
    transition: background-position 1s;
  }
  
  .to1-top1{
    background-image: linear-gradient(to top, #847a91 50%,#b8aac9 0);
    background-position: top;
  }
  
  .to1-top1:hover {
    background-position: bottom;
  }
  
  .boxes2 {
    width:350px;
    height: 190px;
    margin-left:68%;
    margin-top:-190px;
    /* display:inline-block; */
    background-size: 200% 200%;
    transition: background-position 1s;
  }
  
  .to2-top2{
    background-image: linear-gradient(to top, #847a91 50%,#b8aac9 0);
    background-position: top;
  }
  
  .to2-top2:hover {
    background-position: bottom;
  }




.droapdown{
    margin-left: 150px;
    margin-top: -50px;
}

.sub-menu-2 ul li:hover .droapdown{
    display: block;
    position: absolute;
   z-index: 0;
    left: 0;
    top: 100%;
    width: 230px;
    /* height: 1px; */
    background-color:#784aac;
    opacity:0.9;
}

.droapdown ul{
    display: block;
    text-align:center;
    width:200px;
    z-index: 10px;
    margin-top:40px;
    height: 0px;
    margin-left: 2px;
    }
    .droapdown ul li{
    width: 200px;
    padding:5px;
   gap: 10px
   ;
    /* padding: 10px; */
    }
    .droapdown ul li:hover{
      width:200px;
      background-color:#EF6C00;
    /* padding: 10px; */
    }



    @media screen and (max-width:0px) 
    {
  
  
    .home{
  
      margin-left: 6.9%;
       font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       font-size: 1.35vw;
       font-weight: bold;
       display: flex;
       justify-content: center;
       
     }
     .aboutus1{
     padding-left:0%;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      /* width: 240px; */
      margin-left: -0.5%;
      margin-right: -0%;
      font-size: 1.35vw;
      font-weight: bold;
      display: flex;
      
     }
     .cous {
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       font-size: 1.35vw;
       font-weight: bold;
       margin-left: -10%; /* Adjusted positive margin */
       margin-right: 0%; /* Adjusted positive margin on the right */
       display: flex;
     }
     .techno1 {
        padding-right:10px;
        width:140px; 
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 240px;
        margin-left: -25px;
        font-size: 1.35vw;
        font-weight: bold;
     }
     .pla {
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       font-size: 1.35vw;
       font-weight: bold;
       margin-left: -3%;
       display: flex;
     }
     .enrol {
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       font-size: 1.35vw; /* Adjusted font size for readability */
       font-weight: bold;
       margin-left: -3%; /* Positive margin on the left */
       margin-right: -4%; /* Positive margin on the right */
       display: flex;
     }
     .cu{
       font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
       font-size: 1.35vw;
       font-weight: bold;
       margin-left: -78%;
       display: flex;
     }
     .container-1{
           
        height: 43vw;
        margin-top: -2.5vw;
        background-color: white;
        background-image:url(pcp11.PNG);
        width: 98.88vw;
        position: cover;
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
      }
  
      .ph{
           
        width: 27%;
         height: 1.35vw;
        margin-left:10152%;
        margin-top: 142%;
          color: black;
          font-weight: bold;
          font-size:21px;
          display: flex;
      }
      .env{
        color:black;
        width:20%;
        display: flex;
        margin-left: 2105%;
        margin-top: 142.5%;
      }
      .wt{
        color: black; 
        font-size:21px;
        display: flex;
        margin-left: -1808%;
        margin-top: 148%;
        margin-right: 6%;
      }
      .mail{
        margin-top:10%;
        font-family: Arial, Helvetica, sans-serif;
        color:black;
        display: flex;
        margin-left: 1005%;
      }
      .num{
        color:black;
        font-size:15px;
        text-align:center;
        margin-top:16%;
        width: 100%;
        margin-left:1100%;
        list-style-type: none;
         font-family: Arial, Helvetica, sans-serif;
         display: flex;
      }
      .getbb{
        background-color:#b8aac9;
           width:70%;
           /* border-radius:10px; */
           margin-left:15%;
           height:190px;
           align-items:center;
           padding:20px;
           position:absolute;
           padding-top:40px;
           padding-left:30px;
         
         }
         .getbb2{
           padding-top:20px;
           padding-left:30px;
         }
         .getll{
           margin-left:50px;
           font-weight:bold;
           font-size:20px;
           margin-top:5px;
         }
         .getvist{
           margin-left:50px;
           margin-top:5px;
         }
  
  
  
  
  
       .getimgll{
           margin-top:-45px;
       }
       .getpune{
           margin-left:2px;
           margin-top:65px;
           font-size:20px;
       }
       .getbangl{
           margin-left:2px;
           margin-top:2px;
           font-size:20px;
       }
       .gethyd{
           margin-left:2px;
           margin-top:2px;
           font-size:20px;
       }
       .getchen{
           margin-left:2px;
           margin-top:1px;
           font-size:20px;
       }
        .getbox1{
           padding-left:-15%;
           padding-top:20px;
        } 
         .getmakec{
           margin-left:50px;
           font-weight:bold;
           font-size:20px;
           margin-top:5px;
         }
       
       .getlets{
           margin-left:50px;
           margin-top:5px;
       }
       .gethed{
           margin-top:-60px;
       }
       .gethmobile{
           margin-left:48px;
           margin-top:77px;
           font-size:20px;
       }
       .gettime{
           margin-top:4px;
           margin-left:48px;
           font-size: 20px;
       }
       .getbox2{
           padding-left:10%;
           padding-top:20px;
       }
       .getsend{
           margin-left:50px;
           font-weight:bold;
           font-size:20px;
           padding-top:-25px;
           margin-top:4px;
       }
       .getdon{
           margin-left:50px;
           margin-top:5px;
       }
       .getmailimg{
           margin-top:-65px;
       }
       .getm1{
           margin-left:5px;
           margin-top:80px;
           font-size:20px;
       }
       .getm2{
           margin-left:5px;
           margin-top:2px;
           font-size:20px;
       }
       .getmiddile{
           background-color:#7c47bd;
           height:100%;
           z-index:0;
           margin-top:25px;
           display: flex;
           width: 100%;
           z-index: -1;
           position: relative;
       }
       .getmidimg{
           margin-top:50px;
           margin-left:70px;
           margin-right:10px;
       }
       .getiia{
           padding-top:200px;
           margin-left: -40px;
           text-align:center;
           width:380px;
           padding-bottom:-10px;
           font-size:25px;
       }
  
       .getpara{
       margin-right: -100px;
       }
      
       .box1{
           margin-left: 80px;
           margin-top:200px;
           font-size: 17px;
           z-index:0;
           padding-top:-190px;
       }
       .mainlink{
           margin-left:85px;
           margin-top: 5px;
           width: 100%;
       }
      .gethome{
        text-decoration:none;
        color:black;
        font-weight:normal;
        margin-left:65px;
        padding-top:0px;
      }
  
  
       .getabout{
        text-decoration:none;
        color:black;
        font-weight:normal;
        margin-left:60px;
        margin-top:-1px;
        width: 100%;
        /* margin-bottom:-30px; */
       }
      .getindus{
        text-decoration:none;
        color:black;
        font-weight:normal;
        margin-left:60px;
        margin-top: -1px;
      }
      .gettechno{
        text-decoration:none;
        color:black;
        font-weight:normal;
        margin-left:60px;
        margin-right: -20px;
        width: 150%;
        margin-top: -1px;
        
      }
      .getplace{
        text-decoration:none;
        color:black;
        font-weight:normal;
        margin-top: -1px;
       margin-left: 58px;
       margin-right:-50px ;
      }
      .getenroll{
        text-decoration:none;
        color:black;
        font-weight:normal;
       margin-top: -1px;
        margin-left:60px;
      }
       .box3{
           margin-left: 500px;
           margin-right: -40px;
           margin-top: 200px;
           font-size: 17px;
       }
       .getconnect{
           margin-left:-150px;
       }
       
       
       .getpunead{
           margin-top:3px;
           margin-left: -10px;
       }
       .gpune1{
           font-weight:normal;
           margin-left:-400px;
       }
       .gpune2{
           font-weight:normal;
           margin-left:-400px;
       }
       .gpune3{
           font-weight:normal;
           margin-left:-400px;
       }
       .gpune4{
           font-weight:normal;
           margin-left:-400px;
       }
       .gpune5{
           font-weight:normal;
           margin-left:-400px;
       }
       .gpune6{
           font-weight:normal;
           margin-left:-400px;
       }
       .gethydadr{
           font-weight:normal;
           margin-left:-68px;
       }
       .ghyd1{
           font-weight:normal;
           margin-left:-67px;
       }
       .ghyd2{
           font-weight:normal;
           margin-left:-67px;
       }
       .ghyd3{
           font-weight:normal;
           margin-left:-66px;
       }
       .ghyd4{
           font-weight:normal;
           margin-left:-66px;
       }
       .ghyd5{
           font-weight:normal;
           margin-left:-66px;
       }
       .gchennai{
           font-weight:normal;
           margin-left:-412px;
       }
       .gchain1{
           font-weight:normal;
           margin-left:-411px;
       }
       .gchain2{
           font-weight:normal;
           margin-left:-411px;
       }
       .gchain3{
           font-weight:normal;
           margin-left:-411px;
       }
       .gchain4{
           font-weight:normal;
           margin-left:-411px;
       }
       .gchain5{
           font-weight:normal;
           margin-left:-411px;
       }
       .gbanglor{
           font-weight:normal;
           margin-left:-75px;
           margin-right: -20px;
           width: 350px;
       }
       .gbang1{
           font-weight:normal;
           margin-left:-75px;
       }
       .gbang2{
           font-weight:normal;
           margin-left:-75px;
       }
       .gbang3{
           font-weight:normal;
           margin-left:-75px;
       }
       .gbang4{
           font-weight:normal;
           margin-left:-75px;
       }
       .gbang5{
           font-weight:normal;
           margin-left:-75px;
       }
  
      }  