*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.menu-bar{
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 2%;
  text-decoration: white;
  width: 100%;
  background: linear-gradient(60deg,  #4A148C 25.6%, #4A148C 20%, #4A148C 20%, #4A148C 20%, white 20%);
  text-align: right;
}
.container{
  background: linear-gradient(60deg, #4A148C 29.78%, #4A148C 20%, #4A148C 20%,#4A148C 20%, white 20%);
  height: 110px;
}
.container-1{
  background: linear-gradient(60deg, #4A148C 34.8%, #EF6C00 16%, #4A148C 20%,#4A148C 20%, white 20%);
  height:154px;
}
.container-2{
  background: linear-gradient(120deg, #4A148C 32.75%,  #EF6C00 20%, #4A148C 20%,#4A148C 20%, white 20%);
 height: 325.7px;
}
.menu-bar ul
{
display: inline-flex;
list-style: none;
color: #fff;
gap: -10px;
}
.menu-bar ul li{
width: 127px;
left: -3px;
margin: 15px;
padding: 65px 0px 0px 0px;
position: relative;
}
.menu-bar ul li a
{
   text-decoration: none;
   color: #4A148C;
}
.active, .menu-bar ul li
{
text-align:center;
padding-bottom: 20px;
  border-radius: 2px;
}
.active, .menu-bar ul li:hover{
  /* background-color:#4A148C; */
}
.menu-bar .fa
{
 margin-right: 8px;
}
.sub-menu-1{
  margin-left:-25px;
display: none;
z-index: 1;
}
.menu-bar ul li:hover .sub-menu-1{
display: block;
/* position: absolute; */
left: 0;
top: 100%;
background-color:#4A148C;
}
.sub-menu-1 ul{
display: block;
/* padding-right:10px; */
text-align:center;
width:190px;
/* margin: 10px; */
}

.sub-menu-1 ul li{
  width:165px;
   padding:5px; 
/* padding: 10px; */
}

.sub-menu-1 ul li:hover{
  width:165px;
  background-color:#EF6C00;
/* padding: 10px; */
}
.sub-menu-1{
display: none;
}
.menu-bar ul li:hover .sub-menu-1{
display: block;
position: absolute;
left: 0;
top: 100%;
background-color:#784aac;
opacity:0.9;
}
.sub-menu-2{
  margin-left:-20px;
display: none;
width:250px;
z-index: 1;
}
.menu-bar ul li:hover .sub-menu-2{
display: block;
position: absolute;
left: 0;
top: 100%;
background-color:#4A148C;
}
.sub-menu-2 ul{
display: block;
text-align:center;
width:200px;
}
.sub-menu-2 ul li{
width: 230px;
padding:5px;
/* padding: 10px; */
}
.sub-menu-2 ul li:hover{
  width:230px;
  background-color:#EF6C00;
/* padding: 10px; */
}
.sub-menu-2{
display: none;
}
.menu-bar ul li:hover .sub-menu-2{
display: block;
position: absolute;
left: 0;
top: 100%;
background-color:#784aac;
opacity:0.9;
}
.logo{
  color: #fff;
  margin-left: 78px;

}
.paragraph-1{
  margin-left: 630px;
  color: #EF6C00;
  font-size: 24px;
  margin-top:-5px;
}
.paragraph-2{
  font-size: 20px;
  margin-right: 50px;
  margin-left: -30px;
  margin-top:0px;
  color: #fff;
  text-align: center;
}
.paragraph-3{
  margin-left: 1100px;
  color:#EF6C00;
  margin-top: -138px;
  font-size: 24px;
 
}
.paragraph-4{
  margin-left: 895px;
  color: #fff;
  margin-top: -105px;
  font-size:22px;
  text-align: center;
}
.paragraph-5{
  margin-left: 718px;
  color: #EF6C00;
  margin-top: -325px;
  font-size: 24px;
}
.paragraph-6{
  margin-left: 80px;
  color: #fff;
  font-size:22px;
  margin-top:-25px;
  text-align: center;
}
.paragraph-7{
  margin-left: 1190px;
  color:#EF6C00;
  margin-top:-180px;
  font-size: 24px;
}
.paragraph-8{
  margin-left: 1100px;
  color:#fff;
  margin-top: 5px;
  font-size:22px;
  text-align: center;
}
.paragraph-9{
  margin-left: 630px;
  color: #EF6C00;
  margin-top: 230px;
  font-size: 24px;
}
.paragraph-10{
  margin-left:-90px;
  color: #fff;
  font-size:22px;
  margin-top: -50px;
}
.paragraph-11{
  margin-left: 1145px;
  color:#EF6C00;
  margin-top:0px;
  font-size: 24px;
}
.paragraph-12{
  margin-left: 945px;
  color:#fff;
  margin-top: -65px;
  font-size: 22px;
  text-align: center;
}
.image-container{

  /* margin-top:15px; */
  margin-left: 615px;
  margin-top: -140px;

/* align-items:center;
width:100px;

padding-top:-10px;
margin-bottom:10px;
  /* margin-left: 100px; */
  /* margin-top: -150px; */ 
 
}

.image-container1{
  align-items:center;
width:100px;
margin-top: -100px;
  /* margin-left: 990px; */
  /* margin-top: -160px; */
}
.image-container2{
  /* margin-top: -135px; */
  margin-left: 615px;
  margin-top: -120px;
}
.image-container3{
  margin-left: 380px;
  margin-top: -180px;
}
.image-container4{
 margin-left: 1250px;
 margin-top: -412px;
}
.image-containeru{
  margin-left: 1190px;
  margin-top: -172px;

 
 }
.image-container5{
  margin-left:630px;
  margin-top: -310px;
}
.menu-bar2{
  margin-right: 8px;
  margin-left: -40px;
}
.aboutus{
  width: 150px;
  /* display: block; */
  margin-right:30px;
  margin-top:0px;
  display: flex;
  flex-direction:column;
  height:auto;
  margin-left:-10px;
  text-align:center;
  /* display: block; */
}


.home{
  /* width: 130px; */
  margin-left:10px;
  text-align:center;
}
.techno{
  width:160px;
  position: relative;
  margin-top: 0px;
  display: block;
  margin-right:40px;
}
.styo:hover{
  color:blue;
  transform: scale(1.25);
  }
   .zooms:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .zooms{
    transition: transform .2s; 
  }  
  .zoom:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .zoom{
    transition: transform .2s; /* Animation */
  }



  .fade-in-image { animation: fadeIn 3s; }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes rotates{
    from{transform: translateX(-50px);}
    to{ transform: translateY(0px); }
  }

  @keyframes rotate{
    from{transform: translateX(50px);}
    to{ transform: translateY(0px); }
  }


   /* css style code */



 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.containergetintouch{
  background: linear-gradient(60deg, #4A148C 29.90%, #4A148C 20%, #4A148C 20%,#4A148C 20%, white 20%);
  height: 202px;
}
.container-1get{
  background: linear-gradient(60deg, #4A148C 36.5%, #EF6C00 16%, #4A148C 20%,#4A148C 20%, white 20%);
  height: 178px;
}
.container-2get{
  background: linear-gradient(120deg, #4A148C 34.53%,  #EF6C00 20%, #4A148C 20%,#4A148C 20%, white 20%);
 height: 334px;
}

.logo{
  color: #fff;
  text-align: left;
  margin-left: 500px;
  width: 5px;

}
.paragraph{
  font-size: 30px;
  margin-right: 50px;
  margin-left: 900px;
  color: #fff;
}
.paragraph-2{
  font-size: 30px;
  margin-right: 50px;
  margin-left: 900px;
  color: #fff;
}
.paragraph-3{
  font-size: 30px;
  margin-right: 50px;
  margin-left: 980px;
  color: #fff;
}
.login-container{
  max-width: 800px; /* Increase the maximum width */
   /* You can also use a fixed width in pixels if you prefer */
  margin-left: 40px;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;

}
.login-container-1{
  max-width: 800px; /* Increase the maximum width */
   /* You can also use a fixed width in pixels if you prefer */
  margin-left: 30px;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  color:black;
}
.img-container-1{
  font-size: 14px;
  margin-left: 650px;
  margin-top: -260px;
  color: #fff;
  border-radius: 5px
}
.login-container-3{
  max-width: 800px; /* Increase the maximum width */
   /* You can also use a fixed width in pixels if you prefer */
  margin-left: 15px;
  margin-top:60px;
  margin-bottom: 0px;
  padding: 20px;
  border-radius: 25px;
  font-size: 20px;
  
  line-height: 10px;
}
.image-container{
  width: 10px;
}
.text{
  font-size: 52px;
  color: #fff;
  text-align: center;
  margin-left: 30px;
}
.form-1{
  margin-bottom: 80px;
  margin-top: 5px;
  font-size: 25px;
  border-radius: 15px;
  /* margin-top: 300px; */
}
.form-2{
  margin-top: -120px;
}
.menu-bar2{
  margin-right: 8px;
  margin-left: -40px;
}

.styles{
  /* padding-left:3px; */
  margin-left: 20px;
  /* border-radius: 35px;  */
  font-size: 25px; 
  line-height: 40px;
  width:300px;
  margin-top: 10px;
}

/* .emstyle{
  padding-left:10px;
  font-size: 25px;
  width:300px;
  border-radius: 25px; 
  line-height: 40px;
} */

/* .mstyle{
  padding-left:10px;
  font-size: 30px;
   width:300px;
   border-radius: 20px; 
   line-height: 70px;
} */

/* .mostyle{
  padding-left:10px;
  font-size: 25px;
  width:300px;
  border-radius: 25px; 
  line-height: 40px;
} */

.rows{
  display:flex;
  flex-direction:row;
  width:10px;
  
  /* flex-shrink:2; */
}
.aboutus{
  width: 150px;
  /* display: block; */
  margin-right:30px;
  margin-top:0px;
  display: flex;
  flex-direction:column;
  height:auto;
  margin-left:-10px;
  text-align:center;
  /* display: block; */
}


.home{
  /* width: 130px; */
  margin-left:10px;
  text-align:center;
}
.techno{
  width:160px;
  position: relative;
  margin-top: 0px;
  display: block;
  margin-right:40px;
}
.styo:hover{
  color:blue;
  }

  .stylesl{
 text-decoration:none;

  }

  .fa-phone{
    width:70px !important;
  }
  .getmapsty{
    margin-left: 950px;
    width:550px;
    height:300px;
    margin-top: 50px
  }
  .getwesty{
    text-align: center;
    margin-top: -270px;
    margin-left: -80px; 
    font-size: 25px;
    color: aliceblue; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
.gotosty{
  color:#4A148C; 
  width:330px;
  margin-left: 590px;
  margin-top:35px;
}
.gotoptsty{
  text-align: center;
  margin-top:-60px;
  margin-left: -40px; 
  font-size: 35px;
  color: aliceblue; 
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.nasty{
  color: aliceblue;
  font-size: 23px;
  margin-left: 48px;
  margin-top: -35px;
  margin-bottom: -100px;
}
.namesty{
  color: aliceblue;
  margin-top: -30px;
  margin-bottom: 10px;
  margin-left: 30px;
}
.getforsty{
  text-align: center;
  margin-top: -88px;
  margin-left: -30px;
   font-size: 25px;
   color: aliceblue; 
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}
.tecsty{
  text-align: center;
  margin-top: 20px;
  margin-left: -15px; 
  font-size: 25px;
  color: aliceblue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.mobilesty{
  margin-top: -30px;
   color: aliceblue;
}
.mobilenumsty{
  font-size: 25px;
  width:300px;
  /* border-radius: 25px;  */
  line-height: 40px;
}
.mostyle{
  padding-left:10px;
  font-size: 25px;
  width:300px;
  /* border-radius: 25px;  */
  line-height: 40px;
}
.emailsty{
  padding-top: 10px; color: aliceblue;
}
.emstyle{
  padding-left:10px;
  font-size: 25px;
  width:300px;
  /* border-radius: 25px;  */
  line-height: 40px;
}
.messsty{
  color: aliceblue;
}
.mstyle{
  padding-left:10px;
  font-size: 30px;
   width:300px;
   /* border-radius: 20px;  */
   line-height: 70px;
}
.substy{
  margin-left: 100px; 
  font-size: 20px; 
  /* border-radius:50px; */
  background-color:white;
  width:100px;
  color:black;
  height:40px;
}
.numbersty{
  margin-left: 700px;
  color: aliceblue;
  margin-top: -270px;
  font-size: 20px;
}
.mailnamesty{
  margin-left: 705px;
  color: aliceblue;
  margin-top: 20px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.adresssty{
  margin-left: 705px;
  color: aliceblue;
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px; 
  font-family: Arial, Helvetica, sans-serif;
}
.platnamesty{
  margin-left: 700px;
  color: aliceblue;
  margin-top: 20px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.phone{
  font-size:23px;
  margin-left:20px;
  margin-top:80px;
  color:black;
 
} 

.pnvelopesez{
  margin-left:-1520px;
  margin-top:-100px;
  font-size:23px;
}
/* .material{
  width:20%;
  margin-left:674px;
  margin-top:35px;
  font-size:28px;
} */
.llsty{
  margin-left: 805px;
  margin-top: 150px;
}
.facsty{
  margin-left:8px;
  margin-top: 100px;
}
.twsty{
  margin-left:12px; 
  width: 40px; 
  height: 40px;
  margin-top: 100px;
}
.ggsty{
  margin-left:13px;
  height:40px;
  margin-top: 100px;
}
 

